#!/usr/bin/make -f
# debian/rules for gxemul.

export DH_VERBOSE=1

CFLAGS = -g

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif

include /usr/share/dpatch/dpatch.make

configure: configure-stamp
configure-stamp:
	dh build --before configure
	# Configure the package
	CFLAGS="${CFLAGS}" ./configure
	touch configure-stamp

build: patch-stamp configure-stamp build-stamp
build-stamp:
	dh build --after configure
	touch build-stamp

clean: unpatch
	dh clean

%:
	dh $@
