#!/usr/bin/make -f
# debian/rules for gxemul.

CFLAGS = -g

include /usr/share/dpatch/dpatch.make

ifneq (,$(findstring noopt,$(DEB_BUILD_OPTIONS)))
  CFLAGS += -O0
else
  CFLAGS += -O2
endif

configure: patch configure-stamp
configure-stamp:
	dh_testdir
	# Configure the package
	CFLAGS="${CFLAGS}" ./configure
	touch configure-stamp

build: configure build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean: clean-patched unpatch
clean-patched:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	-$(MAKE) -i clean_all
	dh_clean

install: build
	dh_testdir
	dh_testroot
#	dh_clean

binary-indep:

binary: binary-arch binary-indep

binary-arch: install
	dh_testdir
	dh_testroot
	dh_install
	dh_installdocs
	dh_installman
	dh_installchangelogs HISTORY
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

.PHONY: build clean binary-indep binary-arch binary install configure
